<html>
    <head>
        <script type="module"> import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';</script>
    </head>
    <body>
        <turbo-frame id="web">
            <h1>About</h1>
            <a href="/">Index</a>
        </turbo-frame>
    </body>
</html>
